@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -186px 0;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -186px 0;
  }
}

.animate {
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(129, 180, 254, 0.4)), to(rgba(129, 180, 254, 0.4)));
  background-image: linear-gradient(to right bottom, rgba(129, 180, 254, 0.4), rgba(129, 180, 254, 0.4));
}

.secondary-heading {
  font-weight: 400;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-transform: uppercase;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-big {
  margin-top: 10rem;
}

.u-margin-top-small {
  margin-top: 4rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.container {
  width: 120rem;
  margin: 5rem auto;
  width: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(13rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  -ms-grid-rows: (minmax(13rem, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 5rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: row;
}

.container-item {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  will-change: transform, box-shadow;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  border: 2px solid #dddcdc;
  background-color: #fff;
}

.container-item:hover, .container-item:active {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border: 3px solid #dddcdc;
}

.container-img {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.header {
  width: 114rem;
  height: 90vh;
  margin: 0 auto;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  clear: both;
  padding: 5rem 0;
}

.landing-page .content-box {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 10rem 5rem;
  -webkit-animation: fade-down 1s ease 0.4s;
          animation: fade-down 1s ease 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.landing-page .content-box > * {
  margin-bottom: 2rem;
}

.landing-page .content-box_heading {
  font-size: 5rem;
  font-weight: 300;
  color: #000;
}

.landing-page .content-box_heading span {
  color: #335eea;
  font-weight: 400;
}

.landing-page .content-box_paragraph {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.landing-page .content-box_button {
  margin-top: 5rem;
}

.landing-page .photo-box {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.landing-page .photo-box_image {
  width: 100%;
  height: 110%;
  z-index: 10;
  margin-top: -5rem;
  -webkit-animation: fade-up 1s 0.2s;
          animation: fade-up 1s 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.btn:link, .btn:visited {
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  border-radius: 100px;
  padding: 1.5rem 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
}

.btn:not(:last-child) {
  margin-right: 1rem;
}

.btn--primary {
  color: #fff;
  background-color: #335eea;
}

.btn--secondary {
  color: #335eea;
  background-color: #cedbff;
}

.nav {
  height: 7rem;
  width: 100%;
  padding: 1rem 0;
  position: -webkit-sticky;
  position: sticky;
  -webkit-animation: fade-down 0.5s ease-in;
          animation: fade-down 0.5s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-brand {
  font-size: 3.5rem;
  font-weight: 800;
  padding-left: 5rem;
}

.nav-logo {
  position: relative;
}

.nav-logo::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #335eea;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.nav-logo:link, .nav-logo:visited {
  text-decoration: none;
  color: #335eea;
}

.nav-logo:hover::after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-list {
  list-style: none;
}

.nav-item {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1.5rem;
}

.nav-link {
  text-decoration: none;
}

.section-payments {
  margin: 0 auto;
  padding: 10rem;
  color: #335eea;
}
/*# sourceMappingURL=style.css.map */