// Colors
$color-primary: #335eea;
$color-primary-light: #eaecf0;
$color-secondary: #cedbff;
$color-black: #000;
$color-grad-1: #81b4fe;
$color-grad-2: #a8cbfe;
$color-white: #fff;

//Font
$default-font-size: 1.6rem;

//font family
$default-font-family: 'Source Sans Pro', sans-serif;

// Grid-system
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
